In [13]:
# il faut entrer le nombre décimal à coder

In [28]:
nombre_a_coder=int(input("Entrez le nombre à coder  "))

Entrez le nombre à coder  60

In [29]:
# initialisation de la table de codage

In [30]:
table_codage=[]

In [31]:
# boucle de conversion

In [32]:
while (nombre_a_coder !=0 ):
    table_codage = table_codage + [nombre_a_coder%60]
    nombre_a_coder=nombre_a_coder//60

In [33]:
# affichage du résultat

In [34]:
print(table_codage)

[0, 1]

In [35]:
# nous devons inverser la table de codage

In [36]:
table_codage.reverse()

In [37]:
# affichage correct de la table

In [38]:
print(table_codage)

[1, 0]

In [43]:
for i in range(0,len(table_codage)):
        coeff=(chr(60)*(table_codage[i]//10))+(chr(84)*(table_codage[i]%10))
        print(coeff,' ',end='')

T

<img src="../NSI_IROISE/addition.png" />

In [ ]:
http://localhost:8888/notebooks/NSI-IROISE/addition.jpg